.course-content li.section li.activity.videotime ul.nav.nav-tabs {
    list-style: none;
}

.videotime-small-view {
    display: none;
}

div.videotimetab-resize {
    min-width: 16.6667%;
    max-width: 83.3333%;
}

@media (max-width: 768px) {
    .videotime-small-view {
        display: block;
    }
    .videotimetab-resize-handle,
    .vimeo-video-description,
    .videotime-large-view {
        display: none;
    }
    div.videotimetab-resize {
        width: 100%;
    }
}

.videotimetab-resize-handle {
    width: 5px;
    cursor: w-resize;
}
.videotimetab-resize-handle:hover {
    background: grey;
}
.videotime-tab-instance-cover {
    position: absolute;
    display: none;
}

.videotime-highlight {
    font-weight: bold;
}

.videotime-size-3,
.videotime-size-6,
.videotime-size-9 {
    position: relative;
}

.videotime-size-3 {
    width: 25%;
}
.videotime-size-6 {
    width: 50%;
}
.videotime-size-9 {
    width: 75%;
}

.videotime-tab-instance {
    width: 100%;
}

.modtype_videotime.label_mode,
.modtype_videotime.label_mode .mod-indent-outer,
.modtype_videotime.label_mode .contentwithoutlink {
    display: block !important; /* stylelint-disable-line declaration-no-important */
}

/** Compatible with non-Bootstrap 4 themes **/
.path-mod-videotime .btn-dark {
    color: white !important; /* stylelint-disable-line declaration-no-important */
    background-color: #373a3c;
    border-color: #373a3c;
}

.path-mod-videotime .modal-xl {
    max-width: 95% !important; /* stylelint-disable-line declaration-no-important */
}

.path-mod-videotime .badge-dark {
    background-color: #373a3c !important; /* stylelint-disable-line declaration-no-important */
}

.path-mod-videotime .img-hover img {
    -webkit-transition: all .3s ease; /* Safari and Chrome */
    -moz-transition: all .3s ease; /* Firefox */
    -o-transition: all .3s ease; /* IE 9 */
    -ms-transition: all .3s ease; /* Opera */
    transition: all .3s ease;
    position: relative;
}

.path-mod-videotime .img-hover img:hover {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(5) translate(22px, 0); /* Safari and Chrome */
    -moz-transform: translateZ(0) scale(5) translate(22px, 0); /* Firefox */
    -ms-transform: translateZ(0) scale(5) translate(22px, 0); /* IE 9 */
    -o-transform: translateZ(0) scale(5) translate(22px, 0); /* Opera */
    transform: translateZ(0) scale(5) translate(22px, 0);
    z-index: 999;
}

.path-mod-videotime .video-search {
    max-width: 380px;
}

.path-mod-videotime .cursor-pointer {
    cursor: pointer;
}

.activity.videotime .video-image-preview {
    position: relative;
    display: inline-block;
}

.activity.videotime .video-image-preview .video-duration {
    position: absolute;
    right: 10px;
    bottom: 15px;
}

.activity.videotime .video-image-preview .video-progress {
    border: none;
    box-shadow: none;
    border-radius: 0;
    height: 10px;
}

.activity.videotime.preview_mode .actions {
    display: none;
}

body.editing .activity.videotime.preview_mode .actions {
    display: block;
}

.path-course-view li.activity.videotime.preview_mode > div {
    padding: 0;
}

.path-course-view li.activity.videotime.preview_mode {
    clear: none;
    float: left;
}


.path-course-view li.activity.videotime.preview_mode.previewfull {
    float: none;
}

body.editing.path-course-view li.activity.videotime.preview_mode {
    width: 100%;
}

.path-course-view li.activity.videotime.preview_mode .panel {
    min-height: 440px;
}

/** IE backwards compatibility **/
body.ie .video-image-preview .img-responsive {
    width: 100%;
    max-height: 500px;
}

/* Totara styling */
[data-action=jump-page] {
    display: inline;
}

