{{#hasnextcm}}
    <div class="clearfix" style="margin-bottom: 10px">
        <div class="pull-right">
            {{#is_restricted}}
                <span>{{#str}}next{{/str}}: </span>
                <button type="button" class="btn btn-dark btn-secondary btn-default" data-container="body" data-toggle="popover" data-html="true" data-placement="left" data-content="{{availability_info}}" {{#availability_title}}title="{{availability_title}}"{{/availability_title}}>
                    {{#pix}}i/lock, mod_videotime{{/pix}}
                    {{nextcm_name}}
                </button>
            {{/is_restricted}}
            {{^is_restricted}}
                <span>{{#str}}next{{/str}}: </span><a href="{{nextcm_url}}" class="btn btn-dark btn-secondary btn-default">{{nextcm_name}}</a>
            {{/is_restricted}}
        </div>
    </div>
{{/hasnextcm}}
