<li class="nav-item">
    <a class="nav-link {{#active}}active{{/active}}" id="{{name}}-tab" data-toggle="tab" href="#{{name}}" role="tab" aria-controls="{{name}}" aria-selected="true">{{{label}}}</a>
</li>