<ul class="nav nav-tabs mb-2" role="tablist">
    {{#tabs}}
        {{> mod_videotime/tab_nav_item }}
    {{/tabs}}
</ul>
<div class="tab-content">
    {{#tabs}}
        {{> mod_videotime/tab_pane }}
    {{/tabs}}
</div>