<ul class="nav nav-tabs" id="myTab" role="tablist">
    {{#tabs}}
        {{> mod_videotime/tab_nav_item }}
    {{/tabs}}
</ul>
<div class="tab-content row" id="myTabContent">
    {{#tabs}}
        {{> mod_videotime/tab_pane }}
    {{/tabs}}
</div>