{{#instance}}
    <div id="next-activity-button">
        {{{next_activity_button_html}}}
    </div>

    <div {{^responsive}}class="vimeo-container justify-content-center"{{/responsive}}>
        <div class="vimeo-intro">
            {{{intro}}}
        </div>
        <div class="vimeo-embed" data-vimeo-url="{{vimeo_url}}" id="vimeo-embed-{{uniqueid}}"></div>
        <div class="vimeo-video-description">
            {{{video_description}}}
        </div>
    </div>

    {{#js}}
        require(['mod_videotime/videotime'], function(VideoTime) {
            let v = new VideoTime('vimeo-embed-{{uniqueid}}', {{cmid}}, {{haspro}}, {{interval}});
            {{#haspro}}
                {{! Register pro JS plugins }}
                require(["videotimeplugin_pro/prevent-fast-forwarding"], function(PreventFastForwarding) {
                    v.registerPlugin(new PreventFastForwarding);
                    v.initialize();
                });
            {{/haspro}}
            {{^haspro}}
                v.initialize();
            {{/haspro}}
        });
    {{/js}}
{{/instance}}