{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_videotime/videotime_instance

    This template will render the video time activity and load player

    Variables required for this template:
    * video_description - vimeo video descript
    * intro - activity description
    * uniqueid - Unique id of player on page
    * cmid - course module id
    * haspro - whether pro features are available
    * interval - save position update interval

    Variables optional for this template:
    * next_activity_button_html - markup for next activity button

    Example context (json):
    {
        "cmid": 30,
        "haspro": true,
        "interval": 5,
        "intro": "Watch this",
        "uniqueid": "60dccff8871f6",
        "next_activity_button_html": "<button>Next</button>",
        "video_description": "UX design tips"
    }

}}
{{#instance}}
    <div id="next-activity-button">
        {{{next_activity_button_html}}}
    </div>

    <div class="container-fluid">
    {{^tabshtml}}
        {{> mod_videotime/vimeo_embed }}
    {{/tabshtml}}
    {{#tabshtml}}
        {{{ intro }}}
        {{{tabshtml}}}
    {{/tabshtml}}
    </div>

    {{#js}}
        require(['mod_videotime/videotime'], function(VideoTime) {
            let v = new VideoTime('vimeo-embed-{{uniqueid}}', {{cmid}}, {{haspro}}, {{interval}});
            {{#haspro}}
                {{! Register pro JS plugins }}
                {{# plugins }}
                   {{> videotimeplugin_pro/plugins }}
                {{/ plugins }}
                {{^ plugins }}
                    require([
                        "videotimeplugin_pro/prevent-fast-forwarding"
                    ], function(
                        PreventFastForwarding
                    ) {
                        v.registerPlugin(new PreventFastForwarding);
                        v.initialize();
                    });
                {{/ plugins }}
            {{/haspro}}
            {{^haspro}}
                v.initialize();
            {{/haspro}}
        });
    {{/js}}
{{/instance}}
