{{#instance}}
    <ion-card>
        <ion-card-content>
            {{{intro}}}
        </ion-card-content>
    </ion-card>
    <div class="vimeo-embed" data-vimeo-url="{{vimeo_url}}" id="vimeo-embed-{{cmid}}" data-cmid="{{cmid}}" data-has-pro="{{has_pro}}"></div>
    <ion-card>
        <ion-card-content>
            {{{video_description}}}
        </ion-card-content>
    </ion-card>
{{/instance}}