{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template videotimetab_block/edit_label

    This template for editing blocks on course page

    Variables required for this template:

    Variables optional for this template:
    * id - module id
    * url - link to module page

    Example context (json):
    {
        "id": 30,
        "url": "http://school.edu/mod/videotime/view.php?id=30"
    }

}}
<div class="row videotimetab_block">
    <div class="p-3 col-12">
        {{# str }} editlabelmessage, videotimetab_block {{/ str }}
    </div>
    <div class="p-3 col-12">
        <a href="{{ url }}#block-{{ id }}" class="btn btn-primary">
            {{# str }} editlabelbutton, videotimetab_block {{/ str }}
        </a>
    </div>
</div>
